@mixin style-h1 {
    font-size: $font-size_title;
    letter-spacing: 0.08em;
    text-shadow: 0em 0em 0.5em $colour-scheme_dark;
    text-transform: uppercase;
    margin-bottom: 9.25px;
    line-height: 1em;
}

@mixin style-h2 {
    font-size: $font-size_subline;
    letter-spacing: 0.1em;
    text-shadow: 0em 0em 0.5em $colour-scheme_dark;
    text-transform: uppercase;
    margin-bottom: 16.75px;
}

@mixin style-h3 {
    font-size: $font-size_subsubline;
    text-shadow: 0em 0em 0.2em $colour-scheme_dark;
    text-transform: uppercase;
    line-height: 1.62em;
    padding-top: 6.5px;
}

@mixin style-text {
    font-size: $font-size_text;
    line-height: 23.5px * 1.1;
    text-align: left;
}