
.carousel__container{
    width: 100%;
    background-color: #ffa;
    margin: 0;
    padding: 0;
}

.carousel__page-indicator {
    color: #fff;
}

.carousel_item-subtitle {
    color: #fff;
}

.carousel__viewport {
    overflow: hidden;
    background-color: #faf;
    width: 100%;

}

.carousel__content {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
    .carousel__item {
        display: inline-block;
        width: 100%;
        .carousel_item-image {
            width: 100%;
            height: auto;
        }
    }
}
