@import '../../node_modules/semantic-ui-css/semantic.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:600, 700|Nunito+Sans|Quicksand:400, 700|Raleway:800');

@import 'mixins';

$distance--small: 1vw;
$distance--large: $distance--small * 1.5;
$layout-container-width: 80vw;

$colour-scheme_dark: #000;
$colour-scheme_light: #fff;

$font-size_title: 3.4375em;
$font-size_subline: 1.5625em;
$font-size_subsubline: 1.125em;
$font-size_text: 1em;

body {
    background-color: $colour-scheme_dark;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'sans-serif';
}

section {
    padding-top: $distance--small;
}

.index-page__header-section {
    padding-top: 0;

    .index-page__header-container {
        background-color: #afc;
        position: relative;

        .index-page__header-text {
            position: absolute;
            color: $colour-scheme_light;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            .index-page__header-title {
                @include style-h1;
            }
            .index-page__header-subtitle {
                @include style-h2;
            }
            .index-page__header-subline {
                @include style-h3;
            }
        }
    }
}
.index-page__layout-container {
    background-color: #afc;
    margin-left: auto;
    margin-right: auto;
    width: $layout-container-width;
}

.index-page__heading {
    @include style-h2;
}

.index-page__projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $distance--small;
    grid-row-gap: $distance--small;

    .index-page__project-item {
        background-color: #fab;
        position: relative;
    }

    .index-page__project-image {
        background-image: url(https://jbergs.eu/img_index/indexer_lab2_square.jpg);
        background-size: 100% 100%;

        &--hidden {
            max-width: 100%;
            max-height: 100%;
            visibility: hidden;
        }
    }

    .index-page__project-text-overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;

        .index-page__project-title {
            @include style-h2;
        }
        .index-page__project-sub {
            @include style-h3;
        }
    }
}

.index-page__footer-section {
    background-color: $colour-scheme_light;

    .index-page__footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: $distance--small;

        .index-page__footer-item {
            background-color: #ffa;
            height: 100%;
            width: 100%;
            position: relative;

            .index-page-footer-title {
                @include style-h3;
            }

            .index-page-footer-text {
                @include style-text;
                &--align-bottom {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}
