@import '../../node_modules/semantic-ui-css/semantic.min.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:600, 700|Nunito+Sans|Quicksand:400, 700|Raleway:800');
@import 'mixins';

$distance--small: 1vw;
$distance--large: $distance--small * 1.5;
$layout-container-width: 80vw;

body {
    background-color: #aaf;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'sans-serif';
}


.project-page__article {
    background-color: #aff;
    margin-left: auto;
    margin-right: auto;
    width: $layout-container-width;
    padding-top: $distance--small;
    padding-bottom: $distance--large;
}
