@import "../../node_modules/semantic-ui-css/semantic.min.css";

.view-article-page__content{
    margin-bottom:1.5vh;
}

.view-article-page__button-wrapper{
    float:right;
    padding-left:5px;
}

.view-article-page__date{
    color:#888;
    font-size: 0.8rem;
    font-style: italic;
    text-decoration: none;
}

.view-article-page__header{
    height:6vh;
}

.view-article-page__dateUpdated{
    white-space: nowrap;
}

.view-article-page__dateCreated{
    white-space: nowrap;
}
