@import "../../node_modules/semantic-ui-css/semantic.min.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700|Nunito+Sans|Quicksand:400,700|Raleway:800);

$min-width: 300px;
$spacer-small:3vh;
$spacer-large: 2 * $spacer-small;

body{
    background-color:ghostwhite;
    font-family: 'Nunito Sans', 'sans-serif';
    margin: 0;
    padding: 0;
}

.wiki__container{
    margin-top: 3 * $spacer-small;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
  }

  .wiki__header{
      margin-bottom: $spacer-small;
  }
  